@if (!loading) {
<div class="container">
    @if(showModal){
    <app-modal [title]="modalTitle" [message]="modalMessage" (closeModal)="closeModal()"></app-modal>
    }
    <div class="row d-flex justify-content-center p-3">
        <div class="col-12 col-lg-6 ">
            <div class="row justify-content-xl-center">
                <div class="col-12 col-xl-11 ">
                    <div class="bg-gradient border rounded shadow-sm overflow-hidden">
                        <div class="row">
                            <div class="col-12">
                                <div class="fs-3 text-center pt-4 fw-bold">{{action}} BOX</div>
                            </div>
                        </div>
                        <form [formGroup]="boxForm" (ngSubmit)="onSubmit()">
                            <div class="row gy-4 gy-xl-3 p-4 p-xl-5">
                                <div class="col-12">
                                    <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName="name" id="name" name="name"
                                        value="" [ngClass]="{
                                            'is-invalid': boxForm.get('name')?.touched && boxForm.get('name')?.invalid, 
                                            'is-valid':boxForm.get('name')?.touched && boxForm.get('name')?.valid
                                          }" required />
                                    <div class="invalid-feedback">
                                        @if (boxForm.get('name')?.touched && boxForm.get('name')?.invalid) {
                                        @if(boxForm.get('name')?.hasError('required')){
                                        <span>Name is required.</span>
                                        }
                                        @if (boxForm.get('name')?.hasError('pattern')) {
                                        <span>Name should start with a capital letter.</span>
                                        }
                                        @if (boxForm.get('name')?.hasError('maxlength')){
                                        <span>
                                            Name cannot exceed 25 characters.
                                        </span>
                                        }
                                        }
                                    </div>

                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="price" class="form-label">Price <span
                                            class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <img src="images/eth-dynamic-color.png" width="25" height="25" alt="">
                                        </span>
                                        <input type="number" class="form-control" id="price" name="price"
                                            formControlName="price" value="" [ngClass]="{
                                                'is-invalid': boxForm.get('price')?.touched && boxForm.get('price')?.invalid
                                              }" required />
                                        <div class="invalid-feedback">
                                            @if (boxForm.get('price')?.touched && boxForm.get('price')?.invalid) {
                                            @if(boxForm.get('price')?.hasError('required')){
                                            <span>Price is required.</span>
                                            }
                                            @if (boxForm.get('price')?.hasError('min')) {
                                            <span>Price must be greater than 0.</span>
                                            }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="productLimit" class="form-label">ProductLimit</label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <img src="images/flag-dynamic-color.png" width="25" height="25" alt="">

                                        </span>
                                        <input type="number" class="form-control" id="productLimit" name="productLimit"
                                            formControlName="productLimit" min="1">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="categorie" class="form-label fw-bold">Categorie(s)</label>
                                    @if (!loadingCategories) {

                                    <div formArrayName="category">
                                        <div class="row">
                                            @for (cat of boxCategories ; track $index ; let i = $index) {
                                            <label class="col-4 py-2 boxCategorie pointer"
                                                (click)="removeCategoryFromBox(cat)">{{ cat.name }}</label>

                                            }@empty {
                                            <div class="text-danger">min 1 categorie</div>
                                            }
                                            <button type="button" class="btn btn-warning " data-bs-toggle="modal"
                                                data-bs-target="#exampleModal">
                                                addCtegorie
                                            </button>
                                        </div>

                                    </div>
                                    }



                                </div>
                                <div class="col-12">
                                    <label for="message" class="form-label">Rarity
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="row" formArrayName="rarityProbabilities">
                                        @for (r of rarities; track $index ; let i = $index) {
                                        <div class="col-4 d-flex flex-column" [formGroupName]="i">
                                            <label>{{ r.name }}</label>
                                            <input class="form-control" formControlName="probability" type="number"
                                                min="0" max="100" [ngClass]="{
                                                                'is-invalid': boxForm.get('rarityProbabilities')?.hasError('probabilitySum') && boxForm.get('rarityProbabilities')?.touched
                                                            }" />

                                        </div>
                                        }
                                    </div>
                                    @if (boxForm.get('rarityProbabilities')?.hasError('probabilitySum') &&
                                    boxForm.get('rarityProbabilities')?.touched) {
                                    <small class="text-danger" role="alert">
                                        Probability sum must be 100%
                                    </small>
                                    }


                                </div>
                                <div class="col-12">
                                    <label for="image">Upload Image</label>
                                    <input id="image" type="file" class="form-control" (change)="onFileChange($event)"
                                        accept=".png, .jpg, .jpeg" />

                                </div>
                                <div class="col-12 d-flex flex-column align-items-center">
                                    @if (boxForm.invalid) {
                                    <small class="text-danger">
                                        Please fill out all required fields
                                    </small>
                                    }

                                    <div class="d-grid w-100">
                                        <button class="btn-53" [disabled]="boxForm.invalid">
                                            <div class="original">{{action}}</div>
                                            <div class="letters">

                                                @for (c of action; track $index) {
                                                <span>{{ c }}</span>
                                                }
                                            </div>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}@else {
<div class="min-vh-100 d-flex justify-content-center align-items-center">
    <app-loader></app-loader>
</div>
}



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-model">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Rest Categories</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                @for (cat of restCategories; track $index) {
                <div class="form-check " (click)="addCategoryToBox(cat)">
                    <label class="form-check-label" for="category{{ cat._id }}">
                        {{ cat.name }}
                    </label>
                </div>
                }
            </div>
        </div>
    </div>
</div>