<div class="container">
    <div class="card">
        <div class="top-bar">
            <button class="goback-button" routerLink="/main/choixpayement">
                <i class="fa-solid fa-arrow-left"></i> GO BACK
            </button>
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" style="border-left:3px solid rgb(64, 180, 206);"
                        type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        1/ Why is my payment stuck at Processing/Pending status?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
                    <div class="accordion-body">
                        If it takes longer than 15 minutes, your payment is not completed and no money will be
                        charged. We recommend trying one of our other payment options.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" style="border-left:3px solid rgb(42, 125, 42);"
                        type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                        aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        2/ What’s the reason for my payment to fail?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        There are many factors that can cause your payment to fail. It may be because your bank is
                        blocking the payment, or you don’t have enough money on your card.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" style="border-left:3px solid rgb(201, 59, 59);"
                        type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                        aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        3/ Why am I banned from ZEN?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Your account may be banned due to policy violations or suspicious activity. Contact support
                        for further assistance.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" style="border-left:3px solid rgb(164, 97, 179);"
                        type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour"
                        aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        4/ My card was charged, but no money was added to my Lootie account
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Please check your email for the receipt. If you don’t have a receipt, your payment did not
                        go through and you will be automatically refunded.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>