<div class="container">
    <div class="header">
        <button class="goback-button">
            <i class="fa-solid fa-arrow-left " style="margin-right: 10px;"></i> GO BACK
        </button>

    </div>
    @for (box of currentUser?.boxes; track $index) {
        <div class="card my-1">
            <div class="card-body d-flex flex-column align-items-center position-relative">  
                
            </div>
        </div>
    }

    <div class="content">
        No cases
    </div>

    
</div>