<header class="navbar navbar-expand-lg navbar-dark bg-dark p-3 sticky-top" id="navbar">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" routerLink="home">
            <img src="images/logo final.png" alt="" width="50px" height="50px" class="logo me-2">
            <span class="app-name">O2Win</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="list-boxes"><i class="bi bi-box"></i> MYSTERY BOXES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#partnership"><i
                            class="fa-regular fa-handshake no-underlined"></i> PARTNERSHIP</a>
                </li>
            </ul>
            @if (!isLoggedIn()){
            <div class="d-flex align-items-center">
                <a routerLink="auth/login" class="d-flex align-items-center login-link">
                    <img src="images/boy-dynamic-color.png" alt="" style="width: 30px; height: 30px;" class="me-2">
                    Login
                </a>
            </div>
            }@else {
                <button (click)="logout()">logout</button>
            }
            
        </div>
    </div>
</header>