<header class="navbar navbar-expand-lg navbar-dark bg-dark p-3 sticky-top" id="navbar">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" routerLink="home">
            <img src="images/logo final.png" alt="" width="50px" height="50px" class="logo me-2">
            <span class="app-name">O2Win</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="list-boxes"><i class="bi bi-box"></i> MYSTERY BOXES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#partnership"><i
                            class="fa-regular fa-handshake no-underlined"></i> PARTNERSHIP</a>
                </li>
            </ul>
            @if (!currentUser){
            <div class="d-flex align-items-center">
                <a routerLink="auth/login" class="d-flex align-items-center login-link">
                    <img src="images/boy-dynamic-color.png" alt="" style="width: 30px; height: 30px;" class="me-2">
                    Login
                </a>
            </div>
            }@else {
            <div class="d-flex align-items-center">


                 <!-- Bouton de money avec icône et montant -->
                <div class="d-flex align-items-center px-3 py-1 me-2"
                    style="border: 1px solid #444; border-radius: 5px;">
                    <img src="images/money-dynamic-premium.png" width="50px" style="margin-right: 10px;" alt="">
                    <span style="color: #d7b32f;">${{currentUser.solde | number: '1.2-2'}}</span>
                    <!-- Bouton de "+" -->
                    <button class="btn btn-sm ms-2" routerLink="choixpayement"
                        style="background-color: #ff4f02; color: white; border-radius: 20px;">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <!-- panier -->
                <a  class="position-relative pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <img src="images/bag-dynamic-color.png" width="40" height="40" alt="">       
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{nbItems}}
                        <span class="visually-hidden">unread messages</span>
                    </span>           
                </a>

                <!-- Dropdown Menu à la fin de la navbar -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="images/boy-dynamic-color.png" alt=""
                                style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;"> ACCOUNT
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" routerLink="profile"><i class="bi bi-person"></i>Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="myboxes">
                                    <i class="bi bi-box"></i>My boxes</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="inventory"><i class="bi bi-columns-gap"></i>Inventory</a>
                            </li>
                            @if (currentUser.role == "admin") {
                                <li>
                                    <a class="dropdown-item" routerLink="/dashboard/home-dashboard"><i class="bi bi-speedometer2"></i>Dashboard</a>
                                </li>
                            }
                           
                            <li>
                                <a class="dropdown-item" (click)="logout()"
                                    style="color: red; display: flex; align-items: center;">
                                    <i class="bi bi-box-arrow-right" style="margin-right: 8px;"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            }

        </div>
    </div>
</header>

<app-canvas-panier></app-canvas-panier>
