.container{
  
    color: #fff;
    font-family: Arial, sans-serif;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #262a30;
    margin: 20px;
    border-radius: 8px;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.profile-details h2 {
    margin: 0;
    font-size: 20px;
}

.profile-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #888;
}

.profile-details {
    display: flex;
    align-items: center;

}

.stats {
    text-align: center;
    padding: 0 20px;
}

.stats p {
    margin: 5px 0;
    color: #888;
}

.change-button{
    background: linear-gradient(45deg, #e92626, #e6873e);
    border: none;
    color: white;
    border-radius: 40px;
    height: 50px;
    padding: 10px;
}

.shipping-address {
    padding: 50px;
    margin: 20px;
    background-color: #262a30;
    border-radius: 8px;
}

.shipping-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.shipping-address h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    margin: 10px;

}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 30vw;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

