.card-body {
    position: relative; 

}

.box-image{
    transition: transform 0.5s ease;
}

.box-image:hover{
    transform: translateY(-20px);
}
.card-body:hover .trash-icon {
    opacity: 1; 
}

.cursor-pointer{
    cursor: pointer;
}