<div class="container">
    <div class="card">
        <div class="top-bar">
            <button class="goback-button" routerLink="/main/home">
                <i class="fa-sharp fa-solid fa-arrow-left" style="margin-right: 5px; color: rgb(255, 102, 0);"></i>
                GO BACK
            </button>

        </div>
        <div class="title">
            <h2>NOM box</h2>
            <h3>prix box</h3>
        </div>
        <p style="color: #4b4b4b;">An official box by O2Win</p>
        <div class="box-container">
            <img src="images/1_goQBcB3IVqZr9M7AamE0Eg-removebg-preview.png" alt="">
        </div>

        <button class="sign-in-button" routerLink="/main/auth/login">SIGN IN TO UNBOX</button>
    </div>
</div>