  <div class="container mt-5" #container>

    <div class="row  d-flex justify-content-center">
  
      <div class="col-md-8">
  
        <div class="headings d-flex justify-content-between align-items-center mb-3">
          <h5>Comments({{comments.length}})</h5>
          <div class="d-flex">
            <button class="btn  mx-1" (click)="onAddComment()"  type="submit" [disabled]="!newComment">submit</button>
            <input type="text" class="form-control mx-1" [(ngModel)]="newComment" name="commentText" placeholder="Add a comment..."  required>
            
          </div>
  
  
        </div>
  
        @for (c of comments; track $index) {
          <div class="card p-3 my-2 bg-secondary text-light">
            <app-comment [comment]="c" (deleteComment)="onDeleteComment($event)"></app-comment>
    
          </div>
        }@empty {
          <div class="row d-flex align-items-center justify-content-center" style="min-height: 40vh;">
            <div class="col-4  text-center text-light">
              No Comments Found
            </div>     
          </div>
        }
  
  
  
      </div>
  
    </div>
  
  </div>
