<div class="container">
    <div class="card">
        <div class="top-bar">
            <button class="goback-button" routerLink="/main/choixpayement">
                <i class="fa-sharp fa-solid fa-arrow-left" style="margin-right: 5px; color: #ff8c00;"></i> GO BACK
            </button>
           
        </div>

        <h2>Add a Gift Card</h2>

        <div class="promocode">
            <input type="text" placeholder="ABC-123-DEF-ABC-123-DEF">

        </div>
        <button class="proceed-button">PROCEED CHECKOUT</button>

        
    </div>
</div>