<div class="container">
    <div class="card">
        <div class="top-bar">
            <button onclick="goBack()" class="goback-button">
                <i class="fa-sharp fa-solid fa-arrow-left" style="margin-right: 5px; color: #ff8c00;"></i> GO BACK
            </button>
            <div class="faq-container">
                <i class="fa-regular fa-circle-question" style="margin-right: 5px; color: #ff8c00;"></i> FAQ
            </div>
        </div>

        <h2>Add a Gift Card</h2>

        <div class="promocode">
            <input type="text" placeholder="ABC-123-DEF">

        </div>
        <button class="proceed-button">PROCEED CHECKOUT</button>

        
    </div>
</div>