<div class="container">
    <div class="header">
        <div class="action-buttons">
            <button class="withdraw-btn" routerLink="/main/order">Order</button>
        </div>
    </div>

    <div class="search-bar">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search items..." [(ngModel)]="searchQuery"
        (input)="onSearchChange(searchQuery)">
    </div>

    <div class="content">
        <div class="filters">
            <div class="btn-group">
                <button class="btn dropdown-toggle text-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Price
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item text-light" (click)="onSortChange('High')">High</a></li>
                    <li><a class="dropdown-item text-light" (click)="onSortChange('Low')">Low</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            @for (item of filteredInventory; track $index) {
                <div class="col-2 rounded m-2 bg-dark p-2 " >
                    <div class="item  text-center">
                        <img [src]="getImagePath(item.product.productImage)" class="pointer" width="95" height="84" [alt]="item.product.name">
                        <div class="text-light mt-3 fs-5">{{item.product.name}}</div>
                        <div class="text-light mt-3 fs-6">Price: {{item.product.price}}</div>
                        <div class="text-light mt-3 fs-6">Quantity: {{item.quantity}}</div>                        
                    </div>
    
                </div>
                
            }
        </div>
    </div>

    <div class="footer">
        Selected Items: 0
    </div>
</div>