<div class="container">
    <div class="header">
        <button class="goback-button">
            <i class="fa-solid fa-arrow-left" style="margin-right: 10px;"></i> GO BACK
        </button>
        <div class="action-buttons">
            <button class="sell-btn" disabled>Sell</button>
            <button class="withdraw-btn">Withdraw</button>
        </div>
    </div>

    <div class="search-bar">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search items...">
    </div>

    <div class="content">
        <div class="filters">
            <input type="checkbox"> Select All
            <div class="btn-group">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Price
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">High</a></li>
                    <li><a class="dropdown-item" href="#">Low</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            @for (item of inventory; track $index) {
                <div class="col-2 bg-light rounded m-2">
                    <div class="item  text-center">
                        <img [src]="getImagePath(item.product.productImage)" class="pointer" width="100" height="100" [alt]="item.product.name">
                        <h6 class="text-muted mt-3">{{item.product.name}}</h6>
                        <h6 class="text-muted mt-3">Price: {{item.product.price}}</h6>
                        <h6 class="text-muted mt-3">Quantity: {{item.quantity}}</h6>                        
                    </div>
    
                </div>
                
            }
        </div>
    </div>

    <div class="footer">
        Selected Items: 0
    </div>
</div>