.cardDahboard {
    background: var(--bs-warning-bg-subtle); 
    border-radius: 8px;
}

.cardDahboard-header {
    padding: 1rem;
    background-color: var(--bs-light);
}

.cardDahboard-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
}

.cardDahboard-subtitle {
    color: #6c757d; 
}


