<div class="container">
    <div class="card">
        <div class="top-bar">
            <button onclick="goBack()" class="goback-button">
                <i class="fa-sharp fa-solid fa-arrow-left" style="margin-right: 5px; color: #ff8c00;"></i> GO BACK
            </button>
            <div class="faq-container">
                <i class="fa-regular fa-circle-question" style="margin-right: 5px; color: #ff8c00;"></i> FAQ
            </div>
        </div>
        <h2>CHOOSE PAYMENT METHOD</h2>

        <div class="payment-options">
            <div class="payment-option">
                <label>
                    <input type="radio" name="payment" value="Credit Cards"> Credit Cards
                </label>
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Visa_Logo.png" alt="Visa">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Mastercard_2019_logo.svg"
                    alt="Mastercard">
            </div>

            <div class="payment-option">
                <label>
                    <input type="radio" name="payment" value="Gift Cards"> Gift Cards
                </label>
            </div>
        </div>

        <button class="pay-button">PAY</button>
    </div>
</div>