<div class="container">
   

    <div class="content">
        
        <div class="firstPartner">
            <h2>PlantBuddy</h2>
            <img src="images/plantbuddy.jpg" width="150px" height="150px" alt="">
            <p>
                PlantBuddy est un site de vente en ligne dédié à la vente de plantes de qualité. L'équipe est
                passionnée
                par la nature et s'engage à fournir une expérience d'achat exceptionnelle, en offrant une vaste
                sélection de plantes, ainsi que des conseils utiles pour les entretenir.
            </p>
        </div>
        <div class="firstPartner">
            <h2>chocolateHouse</h2>
            <img src="images/chocolateHouse.jpg" width="150px" height="150px" alt="">
            <p>
                Chez Chocolate House, ils confectionnent du chocolat fait maison avec amour et les meilleurs
                ingrédients.
                Leurs clients adorent leurs douceurs riches et artisanales ainsi que leur service chaleureux et
                personnalisé.
                Allez goûter la différence de leur chocolat fait maison !
            </p>
        </div>
        <div class="firstPartner">
            <h2>StarLik</h2>
            <img src="images/starLik.jpg" width="150px" height="150px" alt="">
            <p>
                Avec StarLik, vous pouvez nommer une étoile pour vous-même ou pour un être cher et recevoir un
                certificat personnalisé, créant ainsi des souvenirs qui brillent pour toujours.
            </p>
        </div>



    </div>


</div>