<div class="p-3">
    <div class="filters mb-3 d-flex align-items-center">
        <div class="form-group me-3">
          <label for="nameFilter" class="form-label">Search by Name</label>
          <input
            id="nameFilter"
            type="text"
            class="form-control"
            placeholder="Search by category name"
            [(ngModel)]="nameFilter"
            (input)="applyFilters()"
          />
        </div>
    
    </div>
    <table class="table table-striped table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">description</th>
                <th scope="col">Update</th>

            </tr>
        </thead>
        <tbody>
            @for (cat of filteredCategories; track $index) {
                <tr>
                    <td>
                        @if (cat.categoryImage) {
                            <img [src]="getImagePath(cat.categoryImage)" width="50" height="50"  alt="">
                        }@else{
                            <img src="images/catImage.png" width="30" height="30" alt="">
                        }
                        {{ cat.name }}
                    </td>
                    <td>{{ cat.description }}</td>
                    <td>
                        <a  class="btn rotate" [routerLink]="['/dashboard//update-category',cat._id]">
                            <img src="images/setting-dynamic-premium.png" width="50" height="50" alt="">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>