<div class="container">
    
    <div class="shipping-container">
      <form>
        <h2>Change password</h2>
        <div class="form-group">
          <label>Current password</label>
          <input type="password" placeholder="**********">
        </div>
        <div class="form-group">
          <label>New password</label>
          <input type="password" placeholder="**********">
        </div>
        <div class="form-group">
          <label>Confirm password</label>
          <input type="password" placeholder="**********">
        </div>
        <div class="form-group">
          <button class="saveInfo-button">Change password</button>
        </div>
      </form>
    </div>
  </div>
  