@if(!isLoading){
<div class="container">
  <div class="shipping-container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <h2>Change password</h2>
      <div class="form-group">
        <label for="currentPassword">Current password</label>
        <input id="currentPassword" formControlName="currentPassword" type="password" placeholder="**********" />
      </div>
      <div class="form-group">
        <label for="newPassword">New password</label>
        <input id="newPassword" formControlName="newPassword" type="password" placeholder="**********" />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm password</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="**********" />
      </div>
      <div class="w-100 d-flex justify-content-center">
        <small
          [ngClass]="{'text-success': messageResponse === 'Password changed successfully' , 'text-danger': messageResponse !== 'Password changed successfully' }">
          {{messageResponse | titlecase}}
        </small>
      </div>
      <div class="form-group">
        <button type="submit" class="saveInfo-button" [disabled]="resetPasswordForm.invalid">Change password</button>
      </div>

    </form>
  </div>
</div>
}@else {
<div class="d-flex justify-content-center align-items-center " style="min-height: 40vw;">
  <app-loader></app-loader>
</div>
}