<div class="container">
    @if (!isLoading && box){
    <div class="card">
        <div class="top-bar">
            <button routerLink="/main/list-boxes" class="goback-button">
                <i class="fa-sharp fa-solid fa-arrow-left" style="margin-right: 5px; color: #ff8c00;"></i> GO BACK
            </button>

        </div>
        <div class="title-container">
            <h2>{{box.name}} </h2>
            <p> Price: <i class="fa-brands fa-ethereum"></i> {{box.price}} </p>
        </div>

        <div class="img-container">
            @if (box.boxImage){
            <img [src]="getImagePath(box.boxImage)" width="200px" height="200px" alt="">
            }
        </div>
        <div>
            <button class="btnadd" (click)="addBoxToCart(box)">Add Box</button>
        </div>
    </div>
    <div class="container-fluid">
        <h2>Related Products</h2>
        @if (products && products.length) {
        <div class="row">
            @for(p of products ; track $index){
                <div class="col-2">
                    <div class="product-card h-100 mb-2">
                        @if (p.productImage){
                        <img [src]="getImagePath(p.productImage)" class="w-25 h-25" />
                        }
                        <div class="fs-5">{{ p.name }}</div>
                        <p>Price: {{ p.price }}</p>
                    </div>
                </div>
            }
        </div>
        } @else {
        <p>No related products available.</p>
        }
    </div>
    }@else {
    <app-loader></app-loader>
    }
</div>