<div class="container">
    @if (!isLoading){
    @if (box){
    <div class="card">
        <div class="top-bar">
            <button routerLink="/main/list-boxes" class="goback-button">
                <i class="fa-sharp fa-solid fa-arrow-left" style="margin-right: 5px; color: #ff8c00;"></i> GO BACK
            </button>

        </div>
        <div class="title-container">
            <h2>{{box.name}} </h2>
            <p> Price: <i class="fa-brands fa-ethereum"></i> {{box.price}} </p>
        </div>

        <div class="img-container">
            @if (box.boxImage){
            <img [src]="getImagePath(box.boxImage)" width="200px" height="200px" alt="">
            }
        </div>
        <div>
            <button class="btnadd" (click)="addBoxToCart(box)">Add Box</button>
        </div>
    </div>
    }
    }
</div>