<div class="card-wrapper">
    @if (!isLoading){
        @if (box){
    <div class="card">
        <!-- card left -->
        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase">
                    @if (box.boxImage){
                    <img [src]="getImagePath(box.boxImage)">
                }
                </div>
            </div>

        </div>
        <!-- card right -->
        <div class="product-content">
            <h2 class="product-title">{{box.name}}</h2>
            
            <div class="product-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>

            <div class="product-price">
                <p class="new-price">Price: <span>{{box.price}} <i class="fa-brands fa-ethereum"></i> </span></p>
            </div>

           

            <div class="purchase-info">
               
                <button type="button" class="btn">
                    Add to Cart <i class="fas fa-shopping-cart"></i>
                </button>

            </div>


        </div>
    </div>
}
}
</div>